.service-card {
    padding: toRem(20) toRem(30);
    @include flex-column-center;
    border-radius: toRem(20);
    color: $brand-grey-dark;
    background: $brand-red-light;
    position: relative;
    height: toRem(260);
    width: 100%;

    @include breakpoint-down(xl) {
        height: toRem(220);
    }

    @include breakpoint-down(md) {
        margin-top: toRem(10);
        margin-bottom: toRem(60);
    }

    img {
        position: relative;
        top: toRem(-120);
    }

    .service-title {
        position: relative;
        top: toRem(-80);
        @include font-height(17, 22);
        margin-bottom: toRem(10);

        @include breakpoint-down(xl) {
            @include font-height(15, 21);
        }

        @include breakpoint-down(md) {
            top: toRem(-50);
            @include font-height(15, 21);
        }
    }

    .service-description {
        position: relative;
        top: toRem(-76);
        @include font-height(15.5, 22);
        letter-spacing: 0.001em;

        @include breakpoint-down(xl) {
            @include font-height(14, 20);
            letter-spacing: unset;
        }

        @include breakpoint-down(md) {
            top: toRem(-46);
            @include font-height(13.5, 20);
        }
    }
}

.process-card,
.feature-card {
    background: $brand-grey-dark;
    @include flex-column-center;
    @include transition(0.4s);
    border-radius: toRem(15);
    height: toRem(270);
    padding: toRem(20);
    width: 100%;

    @include breakpoint-down(lg) {
        margin-bottom: toRem(30);
    }

    @include breakpoint-down(md) {
        height: toRem(250);
        margin-bottom: toRem(60);
    }

    @include breakpoint-down(sm) {
        height: toRem(230);
        margin-bottom: toRem(40);
    }

    &:hover {
        transform: scale(1.02);
    }

    .avatar {
        @include square-shape(65);
        margin-bottom: toRem(28);
        background: $brand-red;

        @include breakpoint-down(sm) {
            margin-bottom: toRem(18);
            @include square-shape(54);
        }

        .icon {
            @include center-placement;
            font-size: toRem(30);
            color: $brand-white;

            @include breakpoint-down(sm) {
                font-size: toRem(25);
            }
        }
    }

    .title-text {
        @include font-height(20, 36);
        letter-spacing: 0.008em;
        margin-bottom: toRem(18);
        font-weight: 700;

        @include breakpoint-down(xl) {
            @include font-height(18, 33);
        }

        @include breakpoint-down(sm) {
            margin-bottom: toRem(13);
            @include font-height(15.5, 28);
        }
    }

    .description-text {
        @include font-height(16.5, 25);
        letter-spacing: 0.008em;
        width: 80%;

        @include breakpoint-down(xl) {
            @include font-height(15, 22);
        }

        @include breakpoint-down(sm) {
            @include font-height(12.5, 21);
        }
    }

}

.feature-card {
    width: 100%;

    img {
        margin-top: toRem(-90);
        margin-bottom: toRem(10);
    }

    .description-text {
        width: 90%;
    }
}

.app-detail-card {
    border-radius: toRem(20);
    padding: toRem(50) toRem(40) toRem(45);
    height: toRem(540);
    width: 40%;
    position: relative;
    color: $brand-white;

    @include breakpoint-down(xl) {
        padding: toRem(40) toRem(26) toRem(35);
    }

    @include breakpoint-down(lg) {
        padding: toRem(35) toRem(20) toRem(30);
        height: toRem(520);
        width: 46%;
    }

    @include breakpoint-down(md) {
        padding: toRem(40) toRem(30) toRem(40);
        height: toRem(520);
        width: 100%;

        &:last-of-type {
            margin-top: toRem(40);
        }
    }

    @include breakpoint-down(xs) {
        padding: toRem(30) toRem(20);
        height: toRem(250);
    }

    .title-text {
        font-weight: 600;
        @include font-height(34, 38);
        margin-bottom: toRem(26);

        @include breakpoint-down(xl) {
            @include font-height(23, 32);
            margin-bottom: toRem(23);
        }

        @include breakpoint-down(md) {
            @include font-height(25, 32);
            margin-bottom: toRem(23);
        }

        @include breakpoint-down(sm) {
            @include font-height(22, 30);
            margin-bottom: toRem(21);
        }

        @include breakpoint-down(xs) {
            @include font-height(19, 28);
            margin-bottom: toRem(19);
        }
    }

    .description {
        @include font-height(18, 26);

        @include breakpoint-down(xl) {
            @include font-height(15, 24);
        }

        @include breakpoint-down(md) {
            @include font-height(17, 26);
        }

        @include breakpoint-down(sm) {
            @include font-height(15, 24);
        }

        @include breakpoint-down(xs) {
            @include font-height(13.5, 23);
        }
    }

    .get-app {
        @include font-height(16, 21);
        position: absolute;
        bottom: toRem(44);

        @include breakpoint-down(xs) {
            @include font-height(14, 18);
            bottom: toRem(38);
        }
    }

    .app-image {
        position: absolute;
        right: 0;

        @include breakpoint-down(xs) {
            display: none;
        }
    }
}