.floating-circle {
    border: toRem(1) solid rgba($brand-red, .6);
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
}

.curve-top {
    position: absolute;
    height: toRem(340);
    top: toRem(-20);
    left: 0;
    border-radius: 0 0 toRem(70) toRem(70);
}

.top-title-row {
    @include flex-row-between-nowrap;
    margin-bottom: toRem(60);

    .title-text {
        font-weight: 700;
        @include font-height(36, 44);
    }

    .view-link {
        font-weight: 600;
        @include font-height(18, 27);

        &:hover {
            color: $brand-red;
        }
    }
}