html,
body,
header,
.full-height {
  height: 92vh;
}

.container {
  margin: 0 auto;

  @include breakpoint-up(sm) {
    max-width: toRem(680);
  }

  @include breakpoint-up(md) {
    max-width: toRem(980);
  }

  @include breakpoint-up(lg) {
    max-width: toRem(1000);
  }

  @include breakpoint-up(xl) {
    max-width: toRem(1140);
  }
}

// HERO SECTION 
.hero-setup {
  margin-bottom: toRem(180);

  .hero-layout {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation: animated-image 15s ease infinite;

    .overlay {
      background: linear-gradient(222.36deg,
          rgba(28, 32, 38, 0.25) 48.17%,
          rgba(37, 42, 49, 0.4) 120.42%),
        linear-gradient(0deg, rgba(34, 56, 56, 0.1), rgba(35, 39, 48, 0.3)),
        radial-gradient(111.6% 409.22% at 100% 25.67%,
          rgba(70, 40, 40, 0.4) 14.53%,
          rgba(49, 17, 17, 0.1) 65.46%);
    }

    .overlay-cover {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 9;
      top: 0;
      left: 0;
      bottom: 0;
      background: linear-gradient(359.61deg,
          #0e1218 8.24%,
          rgba(10, 13, 17, 0.1) 76.66%);
    }

    .content {
      @include center-y;
      margin-top: 8vh;

      .hero-title-text {
        @include font-height(62, 54);
        letter-spacing: 0.01em;
        font-weight: 800;
      }

      .hero-cta-btn {
        padding: toRem(15) toRem(50);
        font-size: toRem(16.25);
        margin-top: toRem(55);
      }
    }
  }
}

.intro-column {
  @include flex-column-center;
  width: 100%;

  .intro-meta-text {
    @include font-height(15, 26);
    text-transform: uppercase;
    letter-spacing: 0.265em;
    margin-bottom: toRem(5);
    text-align: center;
    color: $brand-ash;
    font-weight: 500;
  }

  .intro-title-text {
    @include font-height(45, 60);
    margin-bottom: toRem(100);
    color: $brand-white;
    text-align: center;
    font-weight: 800;
  }
}

// EXPERIENCE 
.image-experience {
  @include flex-column-center;

  .bg-cover {
    @include rectangle-shape(510, 350);
    transform: rotate(10.49deg);
  }

  .section-wrapper {
    @include rectangle-shape(510, 350);
    @include center-y;

    img {
      @include background-cover;
    }
  }
}

.content-experience {
  color: $brand-white;

  .title-text {
    @include font-height(44, 57);
    margin-bottom: toRem(30);
    font-weight: 700;
    width: 80%;
  }

  .description {
    @include font-height(18.5, 30);
    margin-bottom: toRem(20);
  }
}