a {
  @include transition(0.6s);
  @include font-height(14, 18);
  text-decoration: underline;
  color: $brand-white;

  &:hover,
  &:focus {
    color: $brand-red-light;
    text-decoration: none;
  }

  &:focus {
    .no-touch & {
      outline: none;
    }
  }
}

a:link,
button {
  -webkit-tap-highlight-color: rgba($brand-white, 0.35);
  -moz-tap-highlight-color: rgba($brand-white, 0.35);
}

button {
  outline: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  width: auto;
  min-height: 3.375rem;
  height: auto;
  color: inherit;
  cursor: pointer;
  text-align: center;
  @include transition(0.6s);

  &:focus,
  &:visited {
    outline: none;
    border: none;
    box-shadow: unset;
  }
}

button[disabled] {
  cursor: not-allowed;
  user-select: none;
  pointer-events: none;
}

.btn {
  @include transition(0.6s);
  font-size: toRem(14);
  border-radius: 0.25rem;
  padding: toRem(10) toRem(40);
  letter-spacing: 0.05em;
  font-weight: 600;
  background-color: transparent;
  color: $brand-white;
  border: none;
  cursor: pointer;
  position: relative;
  @include flex-row-center-nowrap;
  text-align: center;
  max-width: 100%;
  box-shadow: 0 0 0 transparent;
  text-decoration: none;

  @include breakpoint-down(lg) {
    font-size: toRem(13);
  }

  @include breakpoint-down(sm) {
    font-size: toRem(12.5);
  }

  &:hover,
  &:focus {
    outline: none;
    border: none;
    box-shadow: unset;

    .no-touch & {
      outline: none;
      border: none;
      box-shadow: unset;
    }
  }
}

.btn-primary {
  background-color: $brand-red;
  color: $brand-white;

  &:hover,
  &:focus {
    background-color: darken($brand-red, 10%);
  }
}


.btn-outline {
  border: toRem(2) solid $brand-red;
  color: $brand-white;

  &:hover,
  &:focus {
    border: toRem(2) solid $brand-red;
    background-color: $brand-red;
    color: $brand-white !important;
  }
}

.app-download-btn {
  @include flex-row-start-nowrap;
  padding: toRem(5.5) toRem(15);
  @include transition(0.4s);
  background: $brand-white;
  padding-right: toRem(20);
  border-radius: toRem(50);
  color: $brand-grey-text;
  cursor: pointer;
  width: auto;

  &:hover {
    box-shadow: 0 0 toRem(15) toRem(1) rgba(0, 38, 19, 0.1);
    transform: translateY(-2.5px);
  }

  .icon {
    margin-right: toRem(7);
    font-size: toRem(20);
    color: $brand-red;
  }

  .text-one {
    @include font-height(10.5, 14);
    font-weight: normal;
  }

  .text-two {
    @include font-height(12.25, 16);
    font-weight: 700;
  }
}