/* ===================
BORDER RADIUS LIST
======================= */
$radius: 1,
3,
5,
7,
8,
10,
12,
15,
18,
20,
25,
30,
35,
40,
45,
50,
55;

@each $value in $radius {
  .rounded-#{$value} {
    border-radius: toRem($value) !important;
  }

  .rounded-top-#{$value} {
    border-radius: toRem($value) toRem($value) 0 0 !important;
  }

  .rounded-bottom-#{$value} {
    border-radius: 0 0 toRem($value) toRem($value) !important;
  }

  .rounded-top-left-#{$value} {
    border-top-left-radius: toRem($value) !important;
  }

  .rounded-top-right-#{$value} {
    border-top-right-radius: toRem($value) !important;
  }

  .rounded-bottom-left-#{$value} {
    border-bottom-left-radius: toRem($value) !important;
  }

  .rounded-bottom-right-#{$value} {
    border-bottom-right-radius: toRem($value) !important;
  }
}

/* ===================
Z-INDEXING
======================= */
$indexes: 1,
9,
49,
99,
999,
2000;

@each $index in $indexes {
  .index-#{$index} {
    z-index: #{$index};
  }

  .index--#{$index} {
    z-index: -#{$index};
  }
}

/* ====================================
Cursor, Selection, Link and Transition
======================================= */
.pointer {
  cursor: pointer;
}

.select-none {
  user-select: none;
}

.resize-none {
  resize: none;
}

.link-underline {
  text-decoration: underline;
}

.link-no-underline {
  text-decoration: none !important;
}

.smooth-transition {
  @include transition(0.35s);
}

.smooth-animation {
  @include transition(0.3s);
  animation: panel-slide-down 0.3s ease-in-out forwards;
}

/* ========================
BORDER SHADOW EFFECT
============================ */
.box-shadow-effect {
  background: #c4c4c4;
  box-shadow: 0 toRen(4) toRem(40) toRem(2) rgba(0, 0, 0, 0.1);
}

.navigation-shadow-effect {
  background: #c4c4c4;
  box-shadow: 0 toRem(4) toRem(8) rgba(39, 40, 51, 0.12);
}

.no-shadow {
  box-shadow: unset !important;
}

/* ===================
MARGINS
======================= */
@for $i from 80 through 0 {
  .mg-#{$i} {
    margin: #{$i/16}rem !important;
  }

  .mgt-#{$i} {
    margin-top: #{$i/16}rem !important;
  }

  .mgt--#{$i} {
    margin-top: -#{$i/16}rem !important;
  }

  .mgb-#{$i} {
    margin-bottom: #{$i/16}rem !important;
  }

  .mgb--#{$i} {
    margin-bottom: -#{$i/16}rem !important;
  }

  .mgl-#{$i} {
    margin-left: #{$i/16}rem !important;
  }

  .mgl--#{$i} {
    margin-left: -#{$i/16}rem !important;
  }

  .mgr-#{$i} {
    margin-right: #{$i/16}rem !important;
  }

  .mgr--#{$i} {
    margin-right: -#{$i/16}rem !important;
  }

  .mgy-#{$i} {
    margin-top: -#{$i/16}rem !important;
    margin-bottom: -#{$i/16}rem !important;
  }

  .mgx-#{$i} {
    margin-left: -#{$i/16}rem !important;
    margin-right: -#{$i/16}rem !important;
  }
}

/* ===================
PADDINGS
======================= */
@for $i from 70 through 0 {
  .pd-#{$i} {
    padding: #{$i/16}rem !important;
  }

  .pdt-#{$i} {
    padding-top: #{$i/16}rem !important;
  }

  .pdb-#{$i} {
    padding-bottom: #{$i/16}rem !important;
  }

  .pdl-#{$i} {
    padding-left: #{$i/16}rem !important;
  }

  .pdr-#{$i} {
    padding-right: #{$i/16}rem !important;
  }

  .pdy-#{$i} {
    padding-top: #{$i/16}rem !important;
    padding-bottom: #{$i/16}rem !important;
  }

  .pdx-#{$i} {
    padding-left: #{$i/16}rem !important;
    padding-right: #{$i/16}rem !important;
  }
}

/* ===============================
FONT SIZE LIST ACROSS BREAKPOINTS
================================== */
@for $i from 70 through 4 {
  .ifont-#{$i} {
    font-size: #{$i/16}rem !important;
    line-height: #{($i + 4.5) / 16}rem !important;
  }

  .ifont-#{$i}-5 {
    font-size: #{($i + 0.5) / 16}rem !important;
    line-height: #{($i + 4.5) / 16}rem !important;
  }
}

/* ===================
FONT STYLING
======================= */
.font-normal {
  font-style: normal !important;
}

.font-italics {
  font-style: italic !important;
}

.font-oblique {
  font-style: oblique !important;
}

// LEFT ALIGNMENT
.align-left {
  text-align: left;
}

// RIGHT ALIGNMENT
.align-right {
  text-align: right;
}

// JUSTIFY ALIGNMENT
.align-justify {
  text-align: justify;
}

/* ===================
FONT WEIGHT LIST
======================= */
$weights: 400,
500,
600,
700,
800,
900;

@each $weight in $weights {
  .font-weight-#{$weight} {
    font-weight: #{$weight} !important;
  }
}

/* ===================
BOX SIZES
======================= */
@for $i from 30 through 5 {
  .box-#{$i} {
    @include square-shape($i);
  }

  .box-#{$i}-5 {
    @include square-shape($i+0.5);
  }
}

// TRANSFORMATION
.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate--90 {
  transform: rotate(-90deg);
}

.rotate-45 {
  transform: rotate(45deg);
}

// ANIMATED IMAGE 
@keyframes animated-image {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 20%;
  }

  100% {
    background-position: 0% 50%;
  }
}

// VIDEO SECTION 
.video-section {
  @include flex-column-center;

  @include breakpoint-down(md) {
    position: relative;
    top: 110px;
  }

  .video-cover {
    @include rectangle-shape(480, 345);
    transform: rotate(10.49deg);

    @include breakpoint-down(xl) {
      @include rectangle-shape(420, 275);
    }

    @include breakpoint-down(lg) {
      @include rectangle-shape(370, 255);
    }

    @include breakpoint-down(md) {
      @include rectangle-shape(460, 295);
    }

    @include breakpoint-down(sm) {
      @include rectangle-shape(410, 260);
    }

    @include breakpoint-down(xs) {
      @include rectangle-shape(360, 230);
    }

    @include breakpoint-custom-down(410) {
      @include rectangle-shape(300, 180);
    }

    @include breakpoint-custom-down(330) {
      @include rectangle-shape(280, 170);
    }
  }

  .video-player {
    @include rectangle-shape(480, 345);
    @include center-y;

    @include breakpoint-down(xl) {
      @include rectangle-shape(420, 275);
    }

    @include breakpoint-down(lg) {
      @include rectangle-shape(370, 255);
    }

    @include breakpoint-down(md) {
      @include rectangle-shape(460, 295);
    }

    @include breakpoint-down(sm) {
      @include rectangle-shape(410, 260);
    }

    @include breakpoint-down(xs) {
      @include rectangle-shape(360, 230);
    }

    @include breakpoint-custom-down(410) {
      @include rectangle-shape(300, 180);
    }

    @include breakpoint-custom-down(330) {
      @include rectangle-shape(280, 170);
    }

    img {
      @include background-cover;
    }
  }

  .play-icon {
    @include center-y;
    @include square-shape(86);

    @include breakpoint-down(xl) {
      @include square-shape(75);
    }

    @include breakpoint-down(xs) {
      @include square-shape(54);
    }

    .icon {
      @include center-placement;
      margin-left: toRem(3.5);
      font-size: toRem(35);

      @include breakpoint-down(xl) {
        font-size: toRem(30);
      }

      @include breakpoint-down(xs) {
        font-size: toRem(20);
      }
    }
  }
}